footer{
    margin: 0;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
    background-color: black;
    color: white;

}
footer p{
    color: rgb(196, 193, 193);
    font-size: 1.1rem;
}
footer hr{
    width: 50%;
}